<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bchilakalapudi.skillup">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/skillup"
        android:label="Skillup"
        android:roundIcon="@mipmap/skillup"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DotNetActivity"></activity>
        <activity android:name=".PHPActivity" />
        <activity android:name=".MySQLActivity" />
        <activity android:name=".JavaActivity" />
        <activity android:name=".VlocityActivity" />
        <activity android:name=".CSSActivity" />
        <activity android:name=".StudyActivity" />
        <activity android:name=".SalesforceActivity" />
        <activity android:name=".HTMLActivity" />
        <activity
            android:name=".MainActivity"
            android:label="Skillup"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6536530345445965~7222185564" />
    </application>

</manifest>